@media screen and (min-width: 1000px){
    .descricao {
        width: 50%;
    }
    
}

@media screen and (max-width: 550px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    
    .botoes {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 10px;
    }
}